package {{ .packageName }}

// Do not manually change this file, as it is generated.
// If you want to update the file, run `make update-ecs`

// ECSVersion is the current ECS version available in the ecs package.
const ECSVersion = "{{ .schema.Version }}"